form > *{
	display: block;
}

input{
	display: inline-block;
	transition: background-color 2s;
}

.wrapper{
	text-align: center;
}

input[type="submit"]{
	cursor: pointer;
	display: inline-block;
	position: relative;
	content: "";
	width: 300px;
	height: 40px;
	color: white;
	background-color: rgb(250,196,109);
	border-style: none;
	font-weight: bold;
	margin-top: 15px;
}

input[type="text"],
input[type="password"],
input[type="email"]{
	border: solid rgb(227,227,227) 1px;
	height: 40px;
	margin-top: 0;
	width: 300px;
	padding-left: 10px;
	margin: 0 auto;
}

input:hover{
	background-color: rgb(255,232,195);
}

input[type="file"]{
	display: block;
	position: relative;
    left: 0;
    top: -36px;
    width: 300px;
    height: 40px;
    opacity: 0;
    cursor: pointer
}

.photo{
	text-align: center;
	content: "";
	line-height: 35px;
	display: inline-block;
	height: 40px;
	width: 300px;
	color: rgb(250,196,109);
	border: dashed rgb(250,196,109) 2px;
	font-weight: bold;
}

.photo:focus{
	display: none;
}