input[type="text"],
input[type="password"]{
	border: solid rgb(227,227,227) 1px;
	height: 40px;
	margin-top: 0;
	width: 300px;
	padding-left: 10px;
	margin: 0 auto;
}

.center{
	text-align: center;
}

br{
	height: 1px;
}

input[type="submit"]{
	display: none;
}

#sign-in{
	cursor: pointer;
	display: inline-block;
	position: relative;
	content: "";
	width: 300px;
	height: 40px;
	color: white;
	background-color: rgb(250,196,109);
	border-style: none;
	font-weight: bold;
	margin-top: 15px;
}

a{
	display: inline-block;
	width: 300px;
	height: 40px;
	position: relative;
	top: -40px;
}

.reg{
	display: inline-block;
	position: relative;
	line-height: 40px;
	text-align: center;
	width: 300px;
	height: 40px;
	border: solid rgb(227,227,227) 1px;
	background-color: white;
	margin-top: 10px;
}

input{
	transition: background-color 2s;
}

input:hover{
	background-color: rgb(255,232,195);
}
